{% extends 'publicaciones/base.html' %}
{% load static %}

{% block contenido %}
    <div class="row">
        <div class="row contenedor-info">
            <div class="col-md-4">
                <div class="text-center position-relative container">
                    <div class="image-container">
                        {% if avatar.photo %}
                            <img src="{{ avatar.photo.url }}" alt="Foto de perfil" class="rounded-circle avatar-image">
                        {% else %}
                            <img src="{% static 'usuarios/img/fotodeperfil.jpg' %}" alt="Foto de perfil predeterminada" class="rounded-circle avatar-image">
                        {% endif %}
                    </div>
                    <h2 class="nombre-usuario">{{ username }}</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-8 d-flex flex-column justify-content-center">
                    <h3 class="h3-info">Información</h3>
                    <p>Nombre: {{ first_name }}</p>
                    <p>Apellido: {{ last_name }}</p>
                    <p>Email: {{ email }}</p>
                </div>
            </div>
        </div>
        <div class="contenedor-info1">
            <h3 class="h3-publicaciones">Publicaciones subidas por {{ username }}</h3>
            {% if publicaciones %}
                <div class="row">
                    {% for p in publicaciones %}
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="row no-gutters">
                                    {% if p.imagen %}
                                        <div class="col-md-4">
                                            <img class="card-img" src="{{ p.imagen.url }}" alt="{{ p.titulo }}">
                                        </div>
                                    {% endif %}
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ p.titulo }}</h5>
                                            <p class="card-text">{{ p.contenido|truncatewords:15 }}{% if p.contenido|wordcount > 15 %}...{% endif %}</p>
                                            <a href="{% url 'pages:detalle_publicacion' p.pk %}" class="btn btn-primary">Leer más</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                            Publicado por {{ p.autor }} el {{ p.fecha_publicacion|date:"d/m/Y" }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="d-flex justify-content-center align-items-center">
                    <p class="alert alert-info my-4 text-center" style="width: 50%;">No se han subido publicaciones.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock contenido %}